slugify
feedparser
Pygments
pyinstaller
fastapi
uvicorn
pystray
customtkinter
requests
markdown
pillow
ollama
chromadb
PySide6
duckduckgo-search
ddgs
beautifulsoup4 
lxml
datasets
pandas
tqdm


pydantic
pydantic-settings
aiohttp

cachetools

